name: Scrape

on:
  workflow_dispatch:
    inputs:
      containerTag:
        default: "latest"
        required: false
        description: "Container tag to use (e.g., 'latest', 'pr-123' for PR #123)"
      sendNewConfigToTg:
        description: "Send current config as config.txt via Telegram (true/false)"
        type: boolean
        required: false
        default: false
      DEBUG:
        description: "Debug logging namespace (e.g., 'moneyman:*')"
        required: false
        default: "moneyman:*"
  schedule:
    # In Israel: [12:05, 00:05] or [13:05, 01:05] on DST
    - cron: "5 10,22 * * *"
env:
  REGISTRY: ghcr.io
jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - id: normalize-repository-name
        run: echo "repository=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - id: set-container-image
        run: echo "image=${{ env.REGISTRY }}/${{ steps.normalize-repository-name.outputs.repository }}:${{ github.event.inputs.containerTag || 'latest' }}" >> $GITHUB_OUTPUT

      - name: Pull container image
        run: docker pull ${{ steps.set-container-image.outputs.image }}

      - name: Run scraper
        run: >
          docker run --rm
          -e MONEYMAN_CONFIG
          -e DEBUG
          -e TZ
          -e SEND_NEW_CONFIG_TO_TG
          ${{ steps.set-container-image.outputs.image }}
        env:
          MONEYMAN_CONFIG: ${{ secrets.MONEYMAN_CONFIG }}
          DEBUG: ${{ github.event.inputs.DEBUG || '' }}
          TZ: "Asia/Jerusalem"
          SEND_NEW_CONFIG_TO_TG: ${{ github.event.inputs.sendNewConfigToTg }}
